.start_page {
  width: 100%;
  height: 100%;

  .start_page_bg {
    width: 100%;
    height: 68vh;
    background: url('/images/bgi.png') no-repeat 100% bottom;
    // border: 1px solid #000000;

    .start_page_logo {
      width: 320px;
      height: 380px;
      object-fit: cover;
      margin: 130px 0 0 120px;
    }

    .start_page_text {
      font-weight: 600;
      font-size: 140px;
      color: #FFFFFF;
      line-height: 125%;
      margin: 200px 0 0 120px;
    }
  }

  .start_page_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
    margin-bottom: 100px;

    .start_btn {
      width: 80%;
      height: 170px;
      opacity: 1;
      gap: 16px;
      border-radius: 24px;
      background-color: #0B4915;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .copyright {
      font-weight: 400;
      font-size: 50px;
      line-height: 150%;
      letter-spacing: -0.32%;
      text-align: center;
      vertical-align: middle;
      margin-top: 42px;
      color: #202020;
    }
  }
}