.verify {
    width: 100%;

    .header_box {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #E2E4E7;
        padding-bottom: 10px;

        .header {
            width: 93%;
            height: 210px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 50px;
            color: #202020;

            .logo {
                width: 126px;
                height: 150px;
                margin-right: 40px;
            }

            .title_box {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .title {
                    font-weight: 500;
                    font-size: 50px;
                    color: #202020;
                    font-family: 'Playfair';
                }

                .subtitle {
                    font-weight: 300;
                    font-size: 30px;
                    color: #606060;
                    font-family: 'Lato';
                    margin-top: 8px;
                }
            }

            .lag {
                width: 80px;
                height: 80px;
                margin-left: auto;
                font-weight: 400;
                font-size: 30px;
                color: #202020;
                cursor: pointer;
            }
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .certificte_title {
            font-weight: 400;
            font-style: Regular;
            font-size: 90px;
            line-height: 150%;
            letter-spacing: -0.08%;
            text-align: center;
            margin-top: 60px;
        }

        .result_img {
            width: 170px;
            height: 180px;
            margin-top: 60px;
        }

        .certificte_des {
            width: 85%;
            font-family: 'Lato';
            font-weight: 400;
            font-style: Regular;
            font-size: 48px;
            line-height: 150%;
            letter-spacing: -0.08%;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 100px;
            color: #202020;
        }

        .certificte_form {
            width: 95%;
            height: 160px;
            border: 4px solid #DDDDDD;
            opacity: 1;
            border-radius: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 0 30px 0;

            .certificte_form_title {
                font-family: 'Lato';
                font-weight: 400;
                font-style: Regular;
                font-size: 40px;
                line-height: 18px;
                letter-spacing: -0.08%;
                vertical-align: middle;
                color: #9A9A9A;
                margin-left: 40px;
            }

            .certificte_form_val {
                font-family: 'Lato';
                font-weight: 400;
                font-style: Regular;
                font-size: 48px;
                // line-height: 20px;
                letter-spacing: -0.24%;
                text-align: right;
                vertical-align: middle;
                color: #202020;
                margin-right: 40px;
                width: 700px;
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .result_des {
            width: 90%;
            font-weight: 400;
            font-size: 40px;
            color: #5B5B5B;
            font-family: 'Lato';
            font-weight: 400;
            font-style: Regular;
            line-height: 150%;
            letter-spacing: -0.08%;
        }
    }


    .start_page_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 100px;

        .start_btn {
            width: 80%;
            height: 170px;
            opacity: 1;
            gap: 16px;
            border-radius: 24px;
            background-color: #0B4915;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .copyright {
            font-weight: 400;
            font-size: 50px;
            line-height: 150%;
            letter-spacing: -0.32%;
            text-align: center;
            vertical-align: middle;
            margin-top: 42px;
            color: #202020;
        }
    }
}