.home {
  width: 100%;
  margin-top: 220px;

  .home_olive {
    width: 100%;
    min-height: 2550px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.45) 100%), url('/images/home-olive.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_olive_title {
      width: 90%;
      min-height: 550px;
      font-weight: 400;
      font-style: Regular;
      font-size: 180px;
      line-height: 120%;
      letter-spacing: 0%;
      color: #DDDDDD;
      margin: 150px 0 0px 0;

    }

    .home_olive_des {
      width: 90%;
      height: 350px;
      font-family: 'Lato' !important;
      font-weight: 275;
      font-style: ExtraLight;
      font-size: 72px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #E2E4E7;

    }

    .home_olive_img_box {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 100px;

      .home_olive_img_item {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Lato' !important;
        font-weight: 400;
        font-style: Regular;
        font-size: 30px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #DDDDDD;
        text-align: center;
        margin-bottom: 60px;

        .home_olive_img {
          width: 150px;
          height: 150px;
          margin-bottom: 24px;
        }
      }
    }

    .home_olive_check_btn {
      width: 600px;
      height: 130px;
      opacity: 1;
      font-weight: 600;
      font-style: SemiBold;
      border-radius: 36px;
      font-size: 50px;
      letter-spacing: -0.32%;
      color: #202020;
      background-color: #DDDDDD;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 120px;
    }

    .home_olive_sponser_box {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 200px;
      margin-bottom: 100px;

      .home_olive_sponser_cyberport {
        width: 250px;
        height: 130px;
      }

      .home_olive_sponser_eth {
        width: 100px;
        height: 150px;
      }

      .home_olive_sponser_fintech {
        width: 300px;
        height: 130px;
      }

      .home_olive_sponser_codeSolution {
        width: 380px;
        height: 150px;
      }
    }

  }

  .home_proof {
    width: 100%;
    min-height: 2650px;
    background: url('/images/lag-bg.png') no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

    .home_proof_title {
      width: 90%;
      font-weight: 300;
      font-style: Light;
      font-size: 110px;
      line-height: 130%;
      letter-spacing: 0%;
      margin-top: 240px;
    }

    .home_proof_subtitle {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 275;
      font-size: 80px;
      line-height: 130%;
      margin: 24px 0 80px 0;
    }

    .home_proof_des {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 300;
      font-style: Light;
      font-size: 40px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
      margin-bottom: 18px;
    }

    .home_proof_card {
      width: 90%;
      height: 1200px;
      gap: 16px;
      opacity: 1;
      padding-top: 24px;
      padding-bottom: 24px;
      border-radius: 36px;
      background: #FFFFFF33;
      backdrop-filter: blur(10px);
      margin-top: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .home_proof_card_item {
        width: 90%;
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .home_proof_card_item_title_box {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 48px;

          .home_proof_card_item_title {
            font-weight: 700;
            font-style: Bold;
            font-size: 48px;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 60px;
          }

          .home_proof_card_item_title_divider {
            flex: 1;
            height: 3px;
            background: #FFFFFF40;
          }
        }

        .home_proof_card_item_unit_box {
          width: 80%;
          display: flex;
          align-items: center;
          margin-top: 26px;

          .home_proof_card_item_unit_img {
            width: 60px;
            height: 60px;
            margin-right: 24px;
          }

          .home_proof_card_item_unit {
            font-family: 'Lato' !important;
            font-weight: 300;
            font-style: Light;
            font-size: 48px;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;

          }

          .home_proof_card_item_num {
            font-family: 'Lato' !important;
            font-weight: 700;
            font-style: Bold;
            font-size: 48px;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
          }
        }
      }
    }

  }

  .home_orchards {
    width: 100%;
    min-height: 2150px;
    background: url('/images/home-orchards.png') no-repeat center bottom / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    position: relative;

    .home_orchards_card {
      width: 90%;
      height: 650px;
      gap: 9px;
      opacity: 1;
      border-radius: 36px;
      padding: 48px;
      background: #FFFFFF66;
      color: #202020;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 180px;

      .home_orchards_card_title {
        font-weight: 300;
        font-style: Light;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: 68px;
      }

      .home_orchards_card_des {
        font-family: 'Lato' !important;
        font-weight: 300;
        font-style: Light;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        margin-top: 58px;
      }
    }

    .home_orchards_mechanical_img {
      width: 140px;
      height: 140px;
    }

    .home_orchards_mechanical {
      position: absolute;
      top: 1350px;
      left: 110px;

    }

    .home_orchards_tree {
      position: absolute;
      top: 1250px;
      right: 100px;
    }

    .home_orchards_cold {
      position: absolute;
      top: 1650px;
      left: 400px;
    }

    .home_orchards_olive {
      position: absolute;
      top: 1900px;
      left: 750px;
    }

    .home_orchards_press {
      position: absolute;
      top: 1650px;
      right: 150px;
    }

  }


  .home_tree {
    width: 100%;
    min-height: 2650px;
    background: url('/images/home-tree.png') no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

    .home_tree_title {
      width: 90%;
      font-weight: 300;
      font-style: Light;
      font-size: 110px;
      line-height: 130%;
      letter-spacing: 0%;
      margin-top: 240px;
    }

    .home_tree_des {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 300;
      font-style: Light;
      font-size: 40px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;
      margin-top: 50px;
    }

    .home_tree_card {
      width: 90%;
      height: 1700px;
      gap: 16px;
      opacity: 1;
      padding-top: 24px;
      padding-bottom: 24px;
      border-radius: 36px;
      background: #202020CC;
      backdrop-filter: blur(10px);
      margin-top: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .home_tree_card_title_box {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .home_tree_card_title_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 25px;
          margin-top: 20px;


          .home_tree_card_title_item_img {
            width: 80px;
            height: 80px;
            margin-right: 24px;
          }

          .home_tree_card_title_item_txt_box {
            font-family: 'Lato' !important;
            font-size: 35px;
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #DDDDDD;

            .home_tree_card_title_item_txt_bold {
              font-weight: 700;
              font-style: Bold;
            }

            .home_tree_card_title_item_txt_light {
              font-weight: 300;
              font-style: Light;

            }
          }
        }
      }

      .home_tree_card_info_box {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        .home_tree_card_info_item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 50px;

          .home_tree_card_info_item_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Lato' !important;
            font-size: 35px;
            line-height: 150%;
            letter-spacing: 0%;
            color: #DDDDDD;
            font-weight: 300;
            font-style: Light;
            text-align: center;
            vertical-align: middle;


            .home_tree_card_info_item_title_img {
              width: 48px;
              height: 48px;
              margin-right: 24px;
            }
          }

          .home_tree_card_info_item_val {
            font-family: 'Lato' !important;
            font-weight: 700;
            font-style: Bold;
            font-size: 30px;
            line-height: 150%;
            letter-spacing: 0%;
            color: #FFFFFF;
          }
        }
      }
    }
  }


  .home_enterprise {
    width: 100%;
    height: 2150px;
    background: url('/images/lag-bg.png') no-repeat center center / cover;
    color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_enterprise_title {
      width: 90%;
      font-size: 110px;
      line-height: 200%;
      letter-spacing: 0%;
      margin-top: 200px;
      font-weight: 300;
      font-style: Light;
      line-height: 100%;
    }

    .home_enterprise_des {
      width: 90%;
      font-family: 'Lato' !important;
      font-size: 80px;
      vertical-align: middle;
      margin-top: 50px;
      font-weight: 300;
      font-style: Light;
      font-size: 40px;
      line-height: 150%;
      letter-spacing: 0%;

    }

    .home_enterprise_swiper_box {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 100px;
      overflow-x: auto;
      margin-left: 5%;
      scrollbar-width: none;
      -ms-overflow-style: none;

      .home_enterprise_swiper_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 60px;
        width: 600px;
        height: 950px;
        background-color: #DDDDDD;
        border-radius: 36px;
        flex-shrink: 0;

        .home_enterprise_swiper_img {
          width: 550px;
          height: 750px;
          border-radius: 36px;
          margin-top: 30px;
          object-fit: cover;
        }

        .home_enterprise_swiper_item_text {
          font-family: 'Lato' !important;
          font-size: 40px;
          margin-top: 50px;
          font-weight: 300;
          font-style: Light;
          line-height: 150%;
          letter-spacing: 0%;
          color: #202020;
        }
      }
    }

    .home_enterprise_swiper_btn_box{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 120px;

      .home_enterprise_btn_img {
        width: 70px;
        height: 70px;
        margin-right: 80px;
      }
    }
  }

  .home_block {
    width: 100%;
    height: 1700px;
    background: url('/images/home-block.png') no-repeat center center / cover;
    color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home_block_title {
      width: 90%;
      font-weight: 400;
      font-style: Light;
      font-size: 110px;
      line-height: 130%;
      letter-spacing: 0%;
      margin-top: 240px;
    }

    .home_block_description {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 125;
      font-style: ExtraLight;
      font-size: 80px;
      line-height: 130%;
      letter-spacing: 0%;
      vertical-align: middle;
      margin-top: 50px;
    }

    .home_block_sub_box {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 150px;

      .home_block_sub_item {
        display: flex;
        flex-direction: column;
        align-items: center;


        .home_block_sub_img {
          width: 250px;
          height: 250px;
          margin-top: 80px;
        }

        .home_block_sub_text {
          font-family: 'Lato' !important;
          font-weight: 400;
          font-style: Regular;
          font-size: 40px;
          letter-spacing: 0%;
          vertical-align: middle;
          margin-top: 50px;
          line-height: 100%;
        }
      }
    }
  }


  .home_footer {
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DDDDDD;
    padding-bottom: 200px;

    .home_footer_logo_box {
      width: 90%;
      margin-top: 120px;

      .home_footer_logo {
        width: 120px;
        height: 150px;
        margin-bottom: 16px;
      }
    }

    .home_footer_company {
      width: 90%;
      font-weight: 1000;
      font-style: Medium;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin-top: 72px;
    }

    .home_footer_number {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 400;
      font-style: Regular;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin-top: 40px;
    }

    .home_footer_address {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 400;
      font-style: Regular;
      font-size: 50px;
      line-height: 150%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin-top: 140px;

    }

    .home_footer_divider {
      width: 100%;
      height: 3px;
      background-color: #DDDDDD;
      margin-top: 150px;
    }


    .home_footer_contact {
      width: 90%;
      font-family: 'Lato' !important;
      font-weight: 500;
      font-style: Medium;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: capitalize;
      margin-top: 150px;
    }


    .home_footer_about {
      width: 90%;
      font-weight: 400;
      font-style: Regular;
      font-size: 50px;
      line-height: 150%;
      letter-spacing: -0.32%;
      text-transform: capitalize;
      margin-top: 130px;
    }

    .home_footer_rights {
      width: 90%;
      font-weight: 400;
      font-style: Regular;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: -0.32%;
      text-transform: capitalize;
      margin-top: 20px;
    }

  }


  .overlayContent {
    width: 85%;
    height: 1930px;
    margin-top: 320px;
    margin-left: 7.5%;
    background-color: #202020;
    color: #000000;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .overlayContent_close {
      width: 130px;
      height: 130px;
      position: absolute;
      bottom: -180px;
      // right: 30px;
      cursor: pointer;
    }

    .overlayContent_img {
      width: 100%;
      height: 1550px;
      border-radius: 45px 45px 0 0;
      object-fit: cover;
    }

    .overlayContent_form {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;

      .overlayContent_form_title {
        font-weight: 300;
        font-style: Light;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #9A9A9A;
      }

      .overlayContent_form_val {
        font-family: 'Lato' !important;
        font-weight: 300;
        font-style: Light;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #DDDDDD;
      }
    }

  }


}