.verify {
    width: 100%;
  margin-top: 220px;


    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .result_img {
            width: 700px;
            height: 1000px;
            margin-top: 50px;
        }

        .result_img_err {
            width: 1000px;
            height: 1300px;
            margin-top: 50px;
        }

        .result_text {
            width:78%;
            font-weight: 600;
            font-size: 60px;
            color: #202020;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: -0.08%;
            text-align: center;
        }

        .step_box {
            width: 80%;
            height: 700px;
            display: flex;
            margin-top: 94px;

            .step_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-right: 40px;

                .step_img {
                    width: 68px;
                    height: 44px;
                    position: relative;
                    top: -20px;
                }

                .step_img_tree {
                    width: 68px;
                    height: 64px;
                    position: relative;
                    top: 10px;
                }

                .step_img_factory {
                    width: 68px;
                    height: 60px;
                    position: relative;
                    top: -20px;
                }

                .step_img_client {
                    width: 48px;
                    height: 52px;
                    position: relative;
                    top: -30px;
                }

                .step_text_box {
                    width: 1000px;
                    word-break: break-word;
                    

                    .step_title {
                        font-family: 'Lato';
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 48px;
                        line-height: 100%;
                        letter-spacing: -0.32%;
                        vertical-align: middle;
                        color: #202020;
                        margin-bottom: 8px;
                    }

                    .step_des {
                        font-family: 'Lato';
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 48px;
                        line-height: 100%;
                        letter-spacing: -0.32%;
                        vertical-align: middle;
                        color: #9A9A9A;
                    }
                }

                .circle_line {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                }

                .circle {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #0B4915;
                    margin-bottom: 100px;
                }

                .circle_line::before {
                    content: '';
                    position: absolute;
                    top: 40px;
                    bottom: 100px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 8px;
                    background: #0B4915;
                    z-index: 1;
                }
            }

        }

        .result_des {
            width: 90%;
            font-weight: 400;
            font-size: 40px;
            color: #5B5B5B;
            font-family: 'Lato';
            font-weight: 400;
            font-style: Regular;
            line-height: 150%;
            letter-spacing: -0.08%;
            margin-top: 120px;
        }
    }


    .start_page_footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 100px;

        .start_btn {
            width: 80%;
            height: 170px;
            opacity: 1;
            gap: 16px;
            border-radius: 24px;
            background-color: #0B4915;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .copyright {
            font-weight: 400;
            font-size: 50px;
            line-height: 150%;
            letter-spacing: -0.32%;
            text-align: center;
            vertical-align: middle;
            margin-top: 42px;
            color: #202020;
        }
    }
}